.modal {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px 0;
  font-weight: normal;
  font-size: 16px;
}

.modal__content {
  position: relative;
  background-color: #FFFFFF;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #0000004D;
  padding: 28px 28px 36px;
  width: 100%;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
}

.modal__close:hover {
  opacity: 70%;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.modal__label {
  margin-bottom: 8px;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
}

.modal__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__submit {
  background: #000000;
  padding: 8px 16px;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  max-width: 124px;
  margin-top: 8px;
}

.modal__submit:hover {
  cursor: pointer;
  background-color: #00000099;
  transition: background-color .3s ease-in-out;
}

.modal__submit:disabled {
 background-color: #0000004D;
}