.profile {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  gap: 116px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
