.profile {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
