.card {
  position: relative;
  max-width: 325px;
  display: flex;
  justify-content: center;
}

.card__title {
  padding: 2px 12px;
  margin: 0;
  background-color: #FFFFFF;
  color: #00000099;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

}

.card__image {
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #0000004D;
}

.card__image:hover {
  cursor: pointer;
}