.card {
  position: relative;
  max-width: 325px;
  display: flex;
  justify-content: center;
}

.card__title {
  padding: 2px 12px;
  margin: 0;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  top: 15px;
}

.card__image {
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #0000004D;
}