.header {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__username {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-weight: bold;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 70%;
  transition: opacity .1s ease-in-out;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}