.header {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 28px;
  justify-content: space-between;
}

.header__logo-wrapper {
  display: flex;
  align-items: baseline;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__username {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-weight: bold;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 70%;
  transition: opacity .1s ease-in-out;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__desktop-profile {
  display: flex;
  align-items: center;
}

.header__mobile-profile-btn {
  padding: 0;
  border: none;
  align-self: first baseline;
  background: transparent;
}

.header__profile-btn {
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 45px;
  height: 45px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 16px;
  }

  .header__logo-wrapper {
    flex-direction: column;
    gap: 32px;
  }
}