.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  max-width: 498px;
  overflow: hidden;
}

.modal__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0 32px 32px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  line-height: 24px;

}

.modal__caption {
  margin: 0;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}