.modal__image {
  object-fit: cover;
  object-position: center;
  max-width: 498px;
  max-height: 498px;
}

.modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px 32px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  line-height: 24px;
}

.modal__footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.modal__delete-btn {
  margin-bottom: auto;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #ff4d00;
}

.modal__delete-btn:hover {
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.4s ease-in-out;
}

.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}

.modal__close_type_preview:hover {
  border-radius: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
