.sidebar__user-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
}

.sidebar__user-settings {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.sidebar__avatar {
  height: 56px;
  flex: 0 0 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.sidebar__username_mobile {
  margin-bottom: 4px;
}

.sidebar__profile-change,
.sidebar__profile-logout {
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #00000099;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .sidebar__user-wrapper {
    border-top: 1px solid #0000004d;
    border-bottom: 1px solid #0000004d;
    padding: 20px 16px;
    justify-content: center;
    align-items: flex-start;
  }
}
