.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  vertical-align: bottom;
}

.footer__name {
  margin: 0;
}

.footer__date {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 45px;
  }
}