.clothes-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

.clothes-section__row {
  display: flex;
  gap: 20px;
  margin: 17px 0 16px;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.clothes-section__add-clothes-btn {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #000000;
  opacity: 60%;
  border: none;
  font-weight: bold;
  background: none;
}

.clothes-section__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.1s ease-in-out;
}

.clothes-section__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .clothes-section {
    margin-left: 0;
  }

  .clothes-section__row {
    justify-content: space-between;
    gap: 0;
  }
}
